*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #cec9c9;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 335px;
    margin: 30px auto;
}

.content{
    border: 17px solid white;
    border-radius: 59px;
}

.up {
    background-color: #000;
    padding: 30px 15px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}
.white{
    width: 170px;
    height: 40px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    top: 30px;
}
.white::after {
    content: '';
    position: absolute;
    background: #eee;
    width: 30px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 7px;
}
h1{
    font-family: initial;
    color: yellow;
    padding: 12px 0;
}

.date{
    color: white;
    position: relative;
    font-size: 13px;
}
.date span{
    padding-right: 15px;

}

.date span.active::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #3be8b0;
    left: 0;
    bottom: -6px;
}

.btns{
    padding: 25px 0;
}

.btns .last{
    background-color: #fff;
    color: #000;
    margin-left: 4px;
    font-weight: bold;
}

.btns button{
    outline: 0;
    color: #fff;
    background: none;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.bar{
    padding: 15px 5px;
    color: #fff;
    margin-top: -20px;
    background-image: linear-gradient(#2b2929, #4a4646);
    font-size: 13px;
}
.bar .player{
    margin-right: 80px;
}
.bar span {
    margin-right: 20px;
}
.bar .fa-gear{
    color: yellow;
}

.down{
    height: 300px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
    position: relative;
    clip-path: polygon(50% 0%, 100% 0, 98% 36%, 98% 73%, 100% 100%, 50% 100%, 2% 92%, 19% 63%, 3% 34%, 0 0);
    /* clip-path: polygon(0 41%, 0 17%, 0 0, 100% 0, 100% 7%, 100% 35%, 100% 58%, 96% 83%, 83% 97%, 5% 91%, 15% 85%, 1% 66%); */
    /* clip-path: polygon(0 44%, 0 0, 35% 0%, 65% 0%, 100% 0, 100% 60%, 94% 80%, 100% 88%, 99% 95%, 37% 93%, 0 81%, 20% 77%); */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 92%, 48% 74%, 13% 93%, 6% 69%, 0% 35%, 0 0); */
    /* clip-path: polygon(50% 0%, 100% 0, 98% 53%, 91% 80%, 99% 90%, 19% 94%, 5% 71%, 23% 77%, 0% 35%, 0 0); */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 42%, 100% 65%, 96% 82%, 53% 86%, 21% 84%, 4% 74%, 0 35%, 0 0); */

}

/* table::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1415px;
    background-color: #cbc7c7;
    top: 0;
    right: 31px;
    box-shadow: -3px 11px 6px 0 #868383;
} */
table tbody{
    background-color: #fff;
    padding: 15px 8px;
}
tr {
    border-bottom: 1px solid #ddd;
}
th,td{
    padding: 10px 5px;
}

.skew table {
    width: 301px;
    left: 1044px;
    position: absolute;
    top: 837px;

}


















































.skew-2 table {
    width: 301px;
    left: 1098px;
    position: absolute;

    top: 937px;
    color: red;
}



.skew-3 table {
    width: 301px;
    left: 1046px;
    position: absolute;
    top: 1078px;

}

.skew-4 table {
    width: 301px;
    left: 992px;
    position: absolute;
    top: 1166px;
    
}

.skew-5 table{
    width: 301px;
    left: 691px;
    position: absolute;
    top: 1947px;
    
}

.skew-6 table{
    width: 301px;
    left: 686px;
    position: absolute;
    top: 2183px;
 
}

/* .skew-3 table,
.skew-5 table{
    transform: skew(15deg);
}

.skew-2 table,
.skew-4 table,
.skew-6 table{
    transform: skew(-190deg);
} */












